/* Add a black background color to the top navigation */
.topnav {
  overflow: auto;
  border-left: 2px double;
  border-color: #FFA500;
  background-color: #000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  background-color: #000;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: #FFA500;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFA500;
  color: #fff;
}

.topnav a.active:hover {
  background-color: #000;
  color: #FFA500;
}
