/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  border-top: 2px double;
  border-bottom: 2px double;
  border-color: #FFA500;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #00e0e0;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #0d22de;
}

.topnav a.active:hover {
  color: #13eb86;
}


.topnav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
