body {background: linear-gradient(-45deg, #ff6700, #ff6700, #000, #000);
    background-size: 400% 400%; background-repeat: no-repeat; font-size: 19px;
    background-attachment: fixed; animation: gradient 20s ease infinite;}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

    @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {color: #fff; font-family: "Courier New", "Lucida Console", monospace;}
h2 {color: #fff;}
h3 {color: #fff;}
h4 {color: #333;}
h5 {color: #333;}
h6 {color: #333;}
p {color: #333;}

table{
    width: 50%;
    margin: 30px auto;
    border: 2px ridge #fff;
    text-align: center;
    color: #fff;
}
tr {
    border-bottom: 3px solid #fff;
}
th, td{
    border: 1px dashed #fff;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #ff8b3d;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: center;
    margin: 3px;
    color: #fff;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 3px solid #FFA500;
    
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #FFA500;
    border: none;
    border-radius: 5px;
	text-align: center;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.message {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 10px; 
    background: #FFA500; 
    border: 2px solid #ff8b3d;
    color: #fff; 
    font-family: 'Garamond', 'Times New Roman', serif;
    width: 50%;
    text-align: center;
}

.logout{padding: 10px;font-size: 10px;color: #fff;background: #777777;border: #000;border-radius: 5px;
      text-align: center; border:3px;border-style: solid; font-size: 15px;}